{% extends 'layout.twig' %}

{% block title %}Mon Super Blog{% endblock %}


{% block content %}
    <img id="img-principale" class="img img-responsive" src="img/profile.png" alt="">
    <div class="intro-text">
        <span class="name">Trançon Loïc</span>
        <hr class="star-light">
        <span class="skills">Le développeur qu’il vous faut ! </span>
    </div>
{% endblock %}

