{% extends 'layout.twig' %}

{% block title %}
    Page non trouvé! Erreur 404
{% endblock %}


{% block content %}
    <h1>Erreur 404</h1>
    <h2>Document non trouvé</h2>
    <p>Le document auquel vous tentez d'accéder est introuvable. Vous pouvez contacter l'administrateur du site si vous pensez qu'il s'agit d'un bug.</p>
{% endblock %}
